/XmlExplorer/.vs
/XmlExplorer/XmlExplorer/obj
/XmlExplorer/XmlExplorer/bin
/XmlExplorer/XmlExplorer.Controls/bin
/XmlExplorer/XmlExplorer.Controls/obj
/XmlExplorer/XmlExplorer.Setup/Release
/XmlExplorer/XmlExplorer.Setup/Debug
/XmlExplorer/XmlExplorer.TreeView/bin
/XmlExplorer/XmlExplorer.TreeView/obj
